name: Release

on:
    release:
        types: [published]

permissions:
    contents: read
    id-token: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 22
                  cache: "npm"
                  cache-dependency-path: pnpm-lock.yaml
                  registry-url: "https://registry.npmjs.org"
            - run: yarn --frozen-lockfile
            - run: yarn lint
            - run: yarn build
            - run: yarn test

            - name: Publish to npm
              run: npm publish --access public
