name: Release

on:
    release:
        types: [published]

permissions:
    id-token: write
    contents: read
    pull-requests: read

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 22
                  cache: "npm"
            - run: yarn --frozen-lockfile
            - run: yarn lint
            - run: yarn build
            - run: yarn test

            - name: Publish to npm
              run: npm publish
